<div  class="container-sm col-md-6">
<h2>Alta de producto ⚡</h2>
<form id="formCargarProducto">
  <div class="mb-3">
    <label for="input_title" class="form-label">Nombre producto</label>
    <input type="text" class="form-control" id="input_title" name="title" placeholder="Producto">
  </div>
  <div class="mb-3">
    <label for="input_description" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="input_title" name="description" placeholder="Descripción">
  </div>
  <div class="mb-3">
    <label for="input_code" class="form-label">Código</label>
    <input type="text" class="form-control" id="input_code" name="code" placeholder="Código">
  </div>
  <div class="mb-3">
    <label for="input_price" class="form-label">Precio</label>
    <input type="text" class="form-control" id="input_price" name="price" placeholder="Precio">
  </div>
  <div class="mb-3">
    <label for="input_stock" class="form-label">Stock</label>
    <input type="text" class="form-control" id="input_stock" name="stock" placeholder="Stock">
  </div>
  <div class="row">
    <button type="submit" class="btn btn-success">Guardar</button>
  </div>
 
</form>
</div>

<script src="/js/cargaProducto.js"></script>