<h1>Tu perfil (sin datos sensibles)</h1>
<h3>{{user.rol}}</h3>
<p>Nombre completo: {{user.name}}</p>
<p>Correo electronico: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<form id="formLogout">
  <button type="submit" class="btn btn-danger">Logout</button>
</form>
<script src="/js/profile.js"></script>